body{
  background-color:  #f4f0f0;
  color:white;




}
*{
  box-sizing: border-box;
}

.nav{

 position: fixed;
 height: 38px;
  width:100%;
  background-color: black;
  border-bottom:2px solid white;
  top:0px;
  left:0px;



}
#vardhan{
  display:block;
  height: 400px;
  margin-left: auto;
  margin-right: auto;



}

h1{
  color:black;
  font-size: 50px;
}
h2{
  text-align: center;
  color: black;
  font-size: 40px;
}
.nav p{
  float:right;
  margin-top:8px;
  height:36px;

  text-align: center;
  color:white;

  border-collapse: collapse;
  padding-left: 9px;
  padding-right: 9px;

}
.nav img{
  height:36px;
  width:36px;

}
#download{
pading-left:0px;
}
.container{
border:1px solid black;
margin-top: 50px;
height:500px;
overflow:hidden;
}
.thumbnails img{
   width:90%;
   margin: 5%;
   height:150px;
   box-sizing: border-box;
}
.thumbnails img:hover{
 border :4px solid black;
}

.preview img{
  float:left;
  width:60%;
  height:500px;


}
.thumbnails{

  padding:10px;;
  float:right;
  height:500px;
  width:30%;
  overflow-y: scroll;

}
.button{
  color: white;
  background-color: #808080;

}
.button:hover{
background-color: black;}
#home:hover{
  background-color:gray;
  height:20px;

}
#home:active{
  background-color:gray;
  height:20px;

}
#about:visited{
  background-color:gray;
  height:20px;

}
#about:hover{
  background-color:gray;
  height:20px;

}

#hello:hover{
  background-color: gray;
  height:20px;
}
